body{
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

#pills-tabContent{
    width: 200px;
    
}

#pills-dubai-tab{
    margin-top: 30px;
    width: 250px;
}

.h{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.offre{
    display: flex;
    justify-content:flex-end;
}

a{
    display: flex;
    text-decoration: none;
}

button{
    margin-left: 25px;
}