*{
    margin: 0;
    padding: 0;
}
/* GLOBAL STYLES */
.DflexC{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FOOTER CONTAINER */
.containerFooter{
    flex-direction: column;
    gap: 1.5em;
    border: 2px solid var(--border-color);
    background-color: var(--bg-color);
}
/* SOCIAL ICONS CONTAINER */
.socialFooter{
    padding: 1em;
    justify-content: space-around;
    width: 35%;
    gap: 2em;
    border-bottom: 1px solid var(--border-color);
}
/* SOCIAL ICONS */
.socialFooter i{
    font-size: 2em;
    padding: 0.1em;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--text-color);
    color: var(--bg-color);
}
.socialFooter i:hover{
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: var(--text-color);
}
/* LINKS CONTAINER */
.linkFooter{
    justify-content: space-around;
    gap: 1em;
    width: 75%;
    font-size: 1.5em;
    text-transform: capitalize;
}
/* LINKS */
.linkFooter a{
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--bg-color);
}
.linkFooter a:hover{
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
/* COPYRIGHT CONTAINER */
.Copyright p{
    color: var(--border-color);
}