*{
    margin: 0;
    padding: 0;
}
/* GENERAL */
.DflexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
/* NavBar style */
.containerNavBar{
    padding: 0.5em;
    position: relative;
    justify-content: space-around;
    /* background-color: rgba(88, 188, 227, 0.733); */
}
/* NavBar Background */
.containerNavBar::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('/img/BGNavBar.jpg');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
}
/* logo and navigation link */
.logo, .ButtonsNav{
    /* width: 50%; */
    z-index: 2;
}
.logo{
    gap: 1.5em;
}
.logo img{
    max-width: 7em;
}
.logoTitle{
    font-size: 3em;
}
.ButtonsNav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
}
.linkBtn{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 1em;
    min-width: 3em;
}
.linkBtn:hover{
    background: linear-gradient(45deg, rgba(88,188,227,1) 0%, rgba(255,255,255,1) 100%);
}
.iconBurger{
    display: none;
    font-size: 2.5em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 835px){
    .ButtonsNav a.linkBtn{
        display: none;
    }
    .iconBurger{
        display: block;
    }
    .logo{
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 835px){
    .containerNavBar{
        flex-wrap: wrap;
        gap: 2em;
    }
    .ButtonsNav.responsive{
        position: relative;
    }
    .ButtonsNav.responsive a.linkBtn{
        display: block;
    }
}