/* COLORS */
/* Hex code: #1fbfb8, #05716c, #1978a5, #031163 */
:root{
    --bg-color: #d7fffd7c;
    --text-color: #08465f;
    --icone-color: #3984a1;
    --border-color: #15a0d8;
    --hover-color: whitesmoke;
    --title-color:#ffffff;
    --title-font:sans-serif;
}
